@charset "UTF-8";

body {
  font-family: $font-family-default;
  font-size: $font-size-base;
  font-weight: $font-weight-base;
  color: $color-main;
  line-height: $line-height-base;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-wrap: break-word;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.btn-blue {
  background: #3f51b5;
  width: 380px;
  height: 56px;
  color: #fff;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin: 15px;
  line-height: 56px;
  border-radius: 10px;
  box-shadow: 5px 5px 0 0px rgba(150, 150, 150, 0.9);
  box-sizing: content-box;
  // border-bottom: 8px solid #000;
  @include mq("sp") {
    font-size: 16px;
  }
}

img {
  width: 100%;
  height: auto;
  border: none;
}

// PCだけ非表示
.hidden-pc {
  @include mq("pc") {
    display: none;
  }
}

// タブレットだけ非表示
.hidden-tab {
  @include mq("tab-only") {
    display: none;
  }
}

// スマホだけ非表示
.hidden-sp {
  @include mq("sp") {
    display: none;
  }
}

//section
.section {
  padding-top: 100px;
  padding-bottom: 120px;

  @include mq("sp") {
    padding: 50px 0 70px;
  }
}

.section-title {
  font-size: 48px;
  font-weight: bold;
  text-align: center;
  padding: 5px 0 0px 0px;
  position: relative;
  line-height: 1;

  @include mq("sp") {
    font-size: 35px;
    margin-bottom: 40px !important;
    padding-top: 0px;
  }
  // &::after {
  //   content: "";
  //   background-color: $color-main;
  //   width: 60px;
  //   height: 4px;
  //   position: absolute;
  //   bottom: -30%;
  //   left: 50%;
  //   transform: translateX(-50%);
  // }
}

.inner{
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

a{
  text-decoration: none;
  color: $color-main;
}

