@charset "UTF-8";

.news{
  // background-color: #F3F3F3;
  padding: 120px 40px;
  @include mq(sp){
    padding: 0 20px;
    min-height: 574px;
    position: relative;
  }
}

.news-inner{
  background-color: #fff;
  box-shadow: 0 5px 12px #3E3E3E33;
  text-align: center;
  margin: 0 auto;

  @include mq(sp){
    text-align: center; 
    position: absolute;
    top:-60px;
    width: 95%;
    padding-left: 0;
    padding-right: 0;
    left: 0;
    right: 0;
    margin: auto;
}
}
.section-title-news{
  padding-top: 60px;

  @include mq(sp){
    margin-bottom: 20px!important;
    font-size: 30px;
    padding-top: 40px;
  }
}

.news-items{
  padding: 36px 60px;

  @include mq(sp){
    text-align: left;
    padding: 36px 20px;
  }
}

.news-item{
  padding-top: 44px;
  padding-bottom: 44px;
  display: flex;
  border-top: 1px solid $color-main;
  position: relative;
  transition: background-color 0.5s ease 0s;
  &:last-child{
    border-bottom: 1px solid $color-main;
  }
  &:hover{
    background-color: #F3F3F3;
  }
  &::after{
    position: absolute;
    content: "";
    background: url(/img/news-arrow-1.png) no-repeat center center / contain;
    width: 20px;
    height: 20px;
    top: 40%;
    right: 10px;
  }

  @include mq(sp){
    display: block;
    padding: 20px 30px 20px 0;

  }
}


.news-time{
  font-size: 18px;
  letter-spacing: 0.45px;
  width: 100px;
  min-width: 100px;
  margin-right: 40px;

  @include mq(sp){
    margin-right: 10px;
    font-size: 16px;
  }
}

.news-text-btn{
  max-width: 121px;
  width: 100%;
  height: 30px;
  border: solid 2px #3B69FF;
  border-radius: 50px; 
  text-align: center;
  font-size: 14px;
  letter-spacing: 0.35px;
  line-height: 30px;
  margin-right: 40px;
  @include mq(sp){
    display: inline;
    padding: 2px 6px;
    margin-right: 0;
    letter-spacing: -0.2em;
  }
}

.news-text{
  max-width: 698px;
  width: 100%;
  text-align-last: left;
  margin-right: 40px;
  
  @include mq(sp){
    line-height: 1.2;
    font-size: 14px;
  }
}

.news-text-link{
  @include mq(sp){
    // margin-right: 20px;
    
  }
}

.news-btn{
  padding-bottom: 40px;
  width: 235px;
  margin: 0 auto;
  a{
    margin: 20px  auto 0;
    color: #000;
    border: solid 1px #000;
    transition: all 0.5s ease 0s;
    &:hover{
      color: #fff;
      background-color: #000;
      
    }
   
  }
}