@charset "UTF-8";

.price{
  background-color: #f3f3f3;
  padding-top: 120px;
  // padding-bottom: 300px;
  padding-bottom: 208px;

  @include mq(sp){
    padding-top: 40px;
    padding-bottom: 120px;
  }
}

.price-inner{
  max-width: 960px;
  width: 100%;
  text-align: center;
  padding: 0 40px;
  margin: 0 auto;
}

.section-title-price{
  @include mq(sp){
    font-size: 30px;
  }
}

.table{
  margin: 60px auto 0;
  max-width: 962px;
  width: 100%;
  height: 183px;
  border-collapse: collapse;
  th,td{
    border: solid 1px #707070;
    vertical-align: middle;
  }

  th{
    max-width: 262px;
    color: #fff;
    background-color: #000;
    font-size: 24px;
    font-weight: bold;

    @include mq(sp){
      font-size: 18px;
    }
  }

  td{
    max-width: 700px;
    font-size: 24px;
    font-weight: bold;
    text-align-last: left;
    padding-left: 30px;
    background-color: #fff;
    
    @include mq(sp){
      font-size: 18px;
      padding-left: 10px;
    }
  }
}

.table-after-text{
  padding: 12px 0 0 0px;
  font-size: 12px;
  text-align-last: left;
  display: block;
}


