@charset "UTF-8";

.price{
  background-color: #f3f3f3;
  padding-top: 120px;
  padding-bottom: 268px;
}

.price-inner{
  text-align: center;
  padding: 0 40px;
}

.table{
  margin: 0 auto;
  margin-top: 60px;
  max-width: 962px;
  width: 100%;
  height: 183px;
  border-collapse: collapse;
  th,td{
    border: solid 1px #707070;
    vertical-align: middle;
  }

  th{
    max-width: 262px;
    color: #fff;
    background-color: #000;
    font-size: 24px;
    font-weight: bold;
  }

  td{
    max-width: 700px;
    font-size: 24px;
    font-weight: bold;
    text-align-last: left;
    padding-left: 40px;
  }
}

.table-after-text{
  padding: 12px 0 0 80px;
  font-size: 12px;
  text-align-last: left;
}


