@charset "UTF-8";

.qa{
  background: url(../img/qa-bg.png) no-repeat top center / cover;
  // padding-top: 60px;
  height: 900px;
  position: relative;
  // position: fixed;
  @include mq(sp){
    height: 821px;
  }
}

.qa-inner{
  text-align: center;
  padding-top: 60px;
}

.qa-items{
  position: absolute;
  top: 151px;
  right: 40px;
  max-width: calc(50% - 40px);
  width: 100%;
  
  @include mq(sp){
    position:static;
    max-width: calc(100% - 40px);
    margin: 0 auto;
    width: 100%;
  }
}



.qa-item{
  box-sizing: content-box;
  width: 100%;
  background-color: #fff;
  min-height: 56px; 
  padding-bottom: 1px;
  margin-bottom: 32px;
  border-radius: 4px;
  cursor: pointer;
  transition: box-shadow 0.5s ease 0s;
  &:last-child{
    margin-bottom: 120px;
  }
  &.is-open-light{
    box-shadow:(0px 0px 30px 0px  rgb(213, 195, 38));

  }
}

.qa-head{
  display: flex;
  // max-width: 950px;
  width: 100%;
  padding: 16px 16px 16px 16px;
}

.qa-head-q{
  margin: auto 0;
  border-radius: 50%;
  background-color: #3B69FF;
  width: 24px;
  height: 24px;
  text-align: center;
  color: #fff;
}



.qa-head-title{
  position: relative;
  margin-left: 22px;
  line-height: 1.5;
  text-align: left;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.accordion-icon{
  background: url(../img/plus.png) no-repeat top center / cover;
  // background-color: red;
  width: 20px;
  height: 20px;
  display: block;
  // img{
  //   width:20px;
  //   height: 20px;
  //   margin :0 auto;

  
  // position: absolute;
  // content: "";
  // top: 2px;
  // right: -500px;
  // display: block;
  // width: 17px;
  // height: 17px;
  // background: url(./img/plus.png) no-repeat center center / cover;
  &:nth-child(2){
    margin-top: 10px;
  }
  &.is-open{
    background: url(../img/minus.png) no-repeat center center / contain;
  }
}

.qa-head-body-wrapper{
  background-color: #3B69FF33;
  border-radius: 4px;
  // max-width: 580px;
  // width: 100%;
  margin: 0 16px 16px 16px; 
  display: none;
}

.qa-body{
  padding: 16px;
  text-align: left;
}
